# Ignore all non-system files
*.test
*.txt
*.*~
#*.R
#*.r
*.R~
*.r~
*.ppt
tmp*
*~
*.csv
*.xls*


# Ignore everything in subfolders, except project folders
#R_LIBS/*
#!R_LIBS/FRED/*.R
#!R_LIBS/ALFRED/*.R
